:root,
:host {
  --brand-color: #f8cecc;
  --brand-color-strong: #f4bab6;
}

:root,
:host {
  --md-sys-color-primary: rgb(0 104 116);
  --md-sys-color-surface-tint: rgb(0 104 116);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(158 239 253);
  --md-sys-color-on-primary-container: rgb(0 31 36);
  --md-sys-color-secondary: rgb(74 98 103);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(205 231 236);
  --md-sys-color-on-secondary-container: rgb(5 31 35);
  --md-sys-color-tertiary: rgb(82 94 125);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(218 226 255);
  --md-sys-color-on-tertiary-container: rgb(14 27 55);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(245 250 251);
  --md-sys-color-on-background: rgb(23 29 30);
  --md-sys-color-surface: rgb(245 250 251);
  --md-sys-color-on-surface: rgb(23 29 30);
  --md-sys-color-surface-variant: rgb(219 228 230);
  --md-sys-color-on-surface-variant: rgb(63 72 74);
  --md-sys-color-outline: rgb(111 121 122);
  --md-sys-color-outline-variant: rgb(191 200 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 242 243);
  --md-sys-color-inverse-primary: rgb(130 211 224);
  --md-sys-color-primary-fixed: rgb(158 239 253);
  --md-sys-color-on-primary-fixed: rgb(0 31 36);
  --md-sys-color-primary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 88);
  --md-sys-color-secondary-fixed: rgb(205 231 236);
  --md-sys-color-on-secondary-fixed: rgb(5 31 35);
  --md-sys-color-secondary-fixed-dim: rgb(177 203 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 75 79);
  --md-sys-color-tertiary-fixed: rgb(218 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(14 27 55);
  --md-sys-color-tertiary-fixed-dim: rgb(186 198 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(59 70 100);
  --md-sys-color-surface-dim: rgb(213 219 220);
  --md-sys-color-surface-bright: rgb(245 250 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 246);
  --md-sys-color-surface-container: rgb(233 239 240);
  --md-sys-color-surface-container-high: rgb(227 233 234);
  --md-sys-color-surface-container-highest: rgb(222 227 229);
}
