.remove {
  .header {
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }

  .title,
  .detail {
    text-align: left;
    margin: 0;
  }

  .detail {
    word-break: break-all;
  }
}
